<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/frontend/static/style.css">
    <link rel="shortcut icon" href="https://hosting.gatech.edu/sites/all/themes/gt_subtheme/favicon.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap">
</head>

<body>
<div class='menu'>
    <a href='/'>Home</a>
    <a href="https://canvas.gatech.edu/">Tutorial</a>
    <a href="https://github.gatech.edu/compgenomics2020/Team3-WebServer">GitHub</a>
    <a href="https://compgenomics2020.biosci.gatech.edu/Team_III_Webserver_Group">Wiki</a>
    <a href="/AboutUs">About Us</a>
</div>
<h1 align="center" style="font-family: 'Roboto', 'Helvetica', sans-serif;">About Us</h1>
<div class="bd-example" align="middle">
    <table width="1000" border="1" cellpadding="10">
        <tr>
            <td align="center" valign="center">
                <img src="{{ url_for('frontend.static', filename='Ahish.png') }}" style="width:200px;height:200px;"/>
                <br/>
                Ahish Sujay
            </td>


            <td align="center" valign="center">
                <img src="{{ url_for('frontend.static', filename='Sonali.jpg') }}" style="width:200px;height:200px;"/>
                <br/>
                Sonali Gupta
            </td>

            <td align="center" valign="center">
                <img src="{{ url_for('frontend.static', filename='Aparna.png') }}" style="width:200px;height:200px;"/>
                <br/>
                Aparna Maddala
            </td>


        </tr>

    </table>


    <table width="1000" border="1" cellpadding="10">

        <tr>

            <td align="center" valign="center">
                <img src="{{ url_for('frontend.static', filename='Yuhua.png') }}" style="width:200px;height:200px;"/>
                <br/>
                Yuhua Zhang
            </td>

            <td align="center" valign="center">
                <img src="{{ url_for('frontend.static', filename='Yiqiong.png') }}" style="width:200px;height:200px;"/>
                <br/>
                Yiqiong Xiao
            </td>

            <td align="center" valign="center">
                <img src="{{ url_for('frontend.static', filename='Ali.jpeg') }}" style="width:200px;height:200px;"/>
                <br/>
                Allison Rozanski
            </td>


        </tr>

    </table>


</body>
</div>
</html>
