<html>
<head>

<meta charset="UTF-8">
<link rel="stylesheet" href="frontend/static/style.css">
<link rel="shortcut icon" href="https://hosting.gatech.edu/sites/all/themes/gt_subtheme/favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap">

<title>Functional Annotation</title>
<style>
</style>
</head>
<body>

<!-- hyperlinks-->
<div class = 'menu'>
 <a href='/'>Home</a>
    <a href="https://canvas.gatech.edu/">Tutorial</a>
    <a href="https://github.gatech.edu/compgenomics2020/Team3-WebServer">GitHub</a>
    <a href="https://compgenomics2020.biosci.gatech.edu/Team_III_Webserver_Group">Wiki</a>
    <a href="/AboutUs">About Us</a>
</div>

<!-- heading-->
<div class = 'heading'>
    <h1>Gene Prediction</h1>
</div>

<!-- main contents-->
<form class = 'input' action='/Gene_Prediction' method="post" enctype="multipart/form-data"'>
    <div class = 'gene_pred1'>
        <h2>Input Data</h2>
        <p>1. Assembled FASTA files:</p>
        <input type="file" id="file1" name="file1"></input>
        <p>Select up to 10 files (zipped folder)</p>
        <p>2. Query species CDS in FASTA format:</p>
        <input type="file" id="file2" name="file2"></input>
    </div>

    <div class = 'gene_pred2'>
        <div class = 'user_info'>
            <h2>User Information</h2>
	    <div>
            <label>Name:</label>
            <input type="text" id="ann_name" name="gen_name"/></input><br>
            <label>Email:</label>
            <input type="text" id="ann_email" name="gen_email"/></input><br>
            <label>Job Name:</label>
            <input type="text" id="ann_job" name="gen_job"/></input>
	    <br>
	    <br>
            <p style="text-align:right">	    
	    </p>
	    </div>
        </div>
    </div>

    <br>
    <br>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
    <div class = 'description'>
    </div>
</form>

</body>



</html>
