 <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
<link rel="stylesheet" href="/frontend/static/style.css">
<link rel="shortcut icon" href="https://hosting.gatech.edu/sites/all/themes/gt_subtheme/favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap">
	</head>



<body>
<div class = 'heading'>
<h1>Job Submitted!!</h1>
</div>
<br>
<br>
<br>
<h2 align = "center" color=black>You will get an email with a URL to download the results shortly</h2>



</body>
</html> 
